html {
	height:100%;
	padding:0;
	margin:0;
}

body {
	background-image: url("../img/background.jpg");
	font-size:3vw;
	text-align:center;
	height:100%;
	padding:0;
	margin:0;
}

.controlPanleC {
	display:inline-block;
	float:left;
	width:25%;
	height:100%;
}

.fuelC {
	position:relative;
	width:40%;
	height:20%;
	top:10%;
	left:30%;
}

#fuelB{
	position:relative;
	height:100%;
	width:100%;
}

#fuelN{
	position:relative;
	height:100%;
	width:100%;
	z-index:2;
	bottom:107%;
	transform:rotate(90deg);
}

.altitudeC {
	background-color:#104D1A;
	font-size:75%;
	position:relative;
	width:60%;
	height:15%;
	top:15%;
	left:20%;
}

.altitudeB {
	background-color:#09771B;
	position:relative;
	width:80%;
	height:40%;
	top:10%;
	left:10%;
}

.speedC {
	background-color:#104D1A;
	font-size: 75%;
	position:relative;
	width:60%;
	height:15%;
	top:20%;
	left:20%;
}

.speedB {
	background-color:#09771B;
	position:relative;
	width:80%;
	height:40%;
	top:10%;
	left:10%;
}

.gameC {
	display:inline-block;
	float:left;
	width:50%;
	height:100%;
}

.moonC {
	position:relative;
	width:100%;
	height:25%;
	top:75%;
}

#moon {
	position:relative;
	top:10%;
	width:100%;
	height:90%;
}	

.starshipC {
	position:relative;
	z-index:5;
	width:20%;
	height:20%;
	left:40%;
}

#starship {
	width:100%;
	height:100%;
}	

.optionC {
	display:inline-block;
	float:left;
	width:25%;
	height:100%;
	float:left;
}

.infoC {
	position:relative;
	float: right;
	right:1%;
	height:5%;
	width:10%
}

#infoB {
	width:100%;
	height:100%;
}

.buttonC {
	position:absolute;
	width:20%;
	height:10%;
	margin-top:-7.5%;
}

#menuF {
	display:none;
}

.button {
	display:inline-block;
	position:relative;
	top:10%;
	width:20%;
	height:80%
}

.button img {
	width:100%;
	height:100%;
}

#switchB {
	display:none;
}

.powerC {
	position:relative;
	top:75%;
	left:60%;
	height:15%;
	width:30%
}

#powerB {
	width:100%;
	height:100%;
}

.buttonCS {
	display:none;
}		